.adopted_text_details_name {
  color: var(--gray-100);
  margin-bottom: 0.3em;
  font-size: 1em;
  padding: 15px;
  font-weight: 600;
  color: var(--gray-100);
}

.bold_name_pet {
  color: var(--gray-100);
  margin-bottom: 0.3em;
  padding: 15px;
  font-weight: 600;
  font-size: 1.6em;
  color: var(--gray-100);
}

.bold_meus_pets {
  color: var(--gray-100);
  margin-bottom: 0.3em;
  padding: 15px;
  font-weight: 600;
  font-size: 2.2em;
  color: var(--gray-100);
}

.button_visit {
  font-size: 0.8em;
  padding: 0.7em;
  margin: 0.2em;
  border-radius: 0.6rem;
  color: var(--dark-900);
  border: 1px solid var(--dark-700);
  transition: filter 0.2s;
  background: var(--gray-000);
  cursor: pointer;
}
.button_visit[disabled] {
  cursor: not-allowed;
}
.button_visit[disabled] svg {
  animation: animate 2s infinite;
}
.button_visit:hover {
  transform: scale(1.02);
  filter: brightness(1.08);
  background: linear-gradient(to right, #e7e7e7, var(--gray-100));
}
.buttonText {
  color: var(--dark-700);
}
@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
